<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <h1>Create an Account</h1>
    <form action="/users/register" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>